///////////////////
/* FONT-FAMILY */
///////////////////
$regular: "PTSansRegular", "Arial", sans-serif;
$italic: "PTSansItalic", "Arial", sans-serif;
$bold: "PTSansBold", "Arial", sans-serif;


////////////////////
/* TEXT-TRANSFORM */
////////////////////
$caps: uppercase;


///////////
/* COLOR */
///////////
$white: #FFFFFF;
$black: #000000;

$main-color-one: #2c70eb;
$main-color-two: #ba9869;
$main-color-three: #f5f7f8;

$secondary-color-one: #9b9c9d;
$secondary-color-two: #e5e3cd;
$secondary-color-three: #7a7b7c;
$secondary-color-four: #9b9c9d;
$secondary-color-five: #929292;