///////////////////
/* COMMON STYLES */
///////////////////
body {
  font-size: 100%;
  font-family: $regular;
}
header {
  text-align: center;
}
.header-blog img,
.wrapper-blog img {
  width: 100%;
  height: auto;
}

h1 {
  /*font-size: 2.2vw;*/
  font-size: 42px;
}

ul {
  padding: 0;
    li {
      list-style: none;
    }
}

.tag {
  padding: 3px;
  border-radius: 3px;
  /*font-size: 0.63vw;*/
  font-size: 12px;
  text-decoration: none;
}

.article-text--serif {
  font-family: serif;
}
.article-text-important {
  font-weight: 700;
}