////////////
/* HEADER */
////////////
.header-blog {
  padding: 44px 0 43px;
  background-color: $main-color-one;
}
.header-blog__img {
  display: block;
  /*max-width: 573px;*/
  max-width: 384px;
  margin: 0 auto;
}
.header-blog__tag {
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 28px;
  padding: 9px 19px;
  background-color: $black;
  text-transform: $caps;
  color: $white;
  &:hover {
    background-color: $dark;
  }
}
.header-blog__title {
  width: 45%;
  margin: 0 auto;
  line-height: 52px;
  color: $white;
  @include laptop {
    width: 98%;
    font-size: 35px;
  }
  @include mobile-l {
    font-size: 30px;
    line-height: 30px;
  }
}
.header-blog__intro {
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 20px;
  color: $white;
  @include laptop {
    padding: 0 5px;
  }
}
.header-blog__social-list {
  height: 24px;
  margin: 24px auto 0;
}
.social-list__item {
  display: inline-block;
  padding: 0 3px;
}
.item__icon {
  display: block;
  width: 24px;
  height: 24px;
  &:hover {
    opacity: 0.7;
  }
}
.item__icon--fb {
  background: url('../../img/icons/fb.png') no-repeat;
}
.item__icon--vk {
  background: url('../../img/icons/vk.png') no-repeat;
}
.item__icon--tw {
  background: url('../../img/icons/tw.png') no-repeat;
}
.item__icon--ok {
  background: url('../../img/icons/ok.png') no-repeat;
}